# Neon PostgreSQL Connection URL
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-your-endpoint.eu-central-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-your-endpoint.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# Senha de Administrador (apenas quem tem a senha pode adicionar/remover contas)
ADMIN_PASSWORD="sua_senha_secreta_aqui"

NEXT_PUBLIC_APP_NAME="Luisclips"
